fastapi
uvicorn
langchain
langchain-openai
langchain-community
PyPDF2  
pinecone-client
faiss-cpu
python-dotenv
requests
pytest
httpx
python-multipart
openai
paddleocr
pymupdf
paddlepaddle
ftfy
regex
streamlit
streamlit-autorefresh